body {
  background-color: #F0F2EF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin:0;
  position: relative;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  flex-grow: 1;
}

.page {
  min-height: 100vh;
  padding: 0 2rem;
  color:#1C3738;
  margin-top: 4.5em;
}

a {
  text-decoration: none;
  color: #4D4847;
}
 a:hover {
  color: #0F8B8D;
 }
 
 a:active {
  color: #AFD5AA
 }

 button {
  border: none;
  background-color: #AFD5AA;
  color: #4D4847;
  height: 2rem;
  font-size: .8rem;
 }

 button:hover {
  color: #F0F2EF;
 }
 
 .highlight-btn {
  width: 11rem;
 }

 .intro-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }

.nav-links {
  background-color:#AFD5AA;
  margin:0;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  padding-top: 1rem;
  font-size: 1.3rem;
}

.footer-links {
 background-color: #AFD5AA;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;
}
